@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.App {
  text-align: center;
}

.back-to-top {
  font-size: 1.2rem;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #b2b2b1;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10%;
  cursor: pointer;
  opacity: .7;
}

.back-to-top:hover {
  color: #007acc;
}